.ui.massive.message {
    background-color: #eeeeee;
    box-shadow: none;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.html {
    height: 100%;
    position: relative;
}

.wrapper {
    padding-bottom: 150px;
    min-height: 100vh; 
    overflow: hidden;
    position: relative;
} 


.footer {
    position:absolute;
    left:0;
    bottom: 0;
    right:0;
}
