.ui.massive.message {
    background-color: #eeeeee;
    box-shadow: none;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.html {
    height: 100%;
    position: relative;
}

.wrapper {
    padding-bottom: 150px;
    min-height: 100vh; 
    overflow: hidden;
    position: relative;
} 

.footer {
    position:absolute;
    left:0;
    bottom: 0;
    right:0;
}

.name {
    cursor: pointer;
}

.card-details {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-wrap: break-word;
}
